<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Đề Trần Tiến</h2>
      <h4>de.trantien@gmail.com</h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Đề Trần Tiến">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkAction="list-item-action" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkAction="list-item-action" routerLink="/posts">Posts</a>
  <a mat-list-item routerLinkAction="list-item-action" routerLink="/articles">Articles</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-action" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-action" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>

</mat-nav-list>
